.shop-page {
  &__hero {
    display: flex;
    align-items: center;
    height: 300px;
    margin-bottom: 50px;
    padding: 20px 60px;
    width: 100vw;
    margin-left: -60px;

    h1 {
      color: white;
      font-size: 56px;
    }
  }
}
