.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.directory__heading {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Lora, serif;
  font-size: 34px;
}
